#client_testimonial {
}

.client_body {
  background: #404040;
  height: auto;
  width: 90%;
  color: #fff;
  margin: auto;
}

.client_pp_img {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.client_pp_img img {
  border-radius: 50px;
  margin: auto;
}

.client_name_title {
  padding: 0 20px;
  text-align: center;
}
.client_name_title p {
  letter-spacing: 1px;
}
.client_name_title p i {
  font-size: 20px;
}

#slick-slide00 {
  text-align: center;
}
#slick-slide01 {
  text-align: center;
}
#slick-slide02 {
  text-align: center;
}

/* ===============arrow code start=============== */

.priv_arrow {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  color: #f7f7f7;
  background: #0f51d4;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50px;
  overflow-x: visible !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.next_arrow {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  color: #f7f7f7;
  background: #0f51d4;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50px;
  overflow-x: visible !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.priv_arrow .less_then:hover {
  background: #000206;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50px;
  left: 0;
  position: absolute;
}

.next_arrow .gater_then:hover {
  background: #000206;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50px;
  right: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .priv_arrow .less_then {
    left: -8%;
  }
  .next_arrow .gater_then {
    right: -8%;
  }

  .icones .icones-carousel .item {
    /* margin-left: 10px;
    margin-right: 10px; */
  }
}
@media (max-width: 575px) {
  .icones-carousel .item {
    width: 300px;
    padding: 30px;
  }
}
