@media screen and (max-width: 700px) and (min-width: 300px) {
  .respos_font{
    font-weight: 600;
    letter-spacing: -1px;
  }
}

/* =========vdo thumbnail========= */
@media screen and (max-width: 700px) and (min-width: 500px) {
  .vdo_size iframe{
    padding: 30px !important;
    width: 35rem !important;
    height: 22rem !important;
  }
}
@media screen and (max-width: 500px) and (min-width: 340px) {
  .vdo_size iframe{
    padding: 30px !important;
    width: 25rem !important;
    height: 16rem !important;
  }
}


/* =========navbar responsive======= */
@media screen and (max-width: 1155px) and (min-width: 992px){
  .my_nav li a {
    
    font-size: 16px !important;
    padding: 10px 8px !important;
    /* position: relative; */
    /* transition: all linear 0.6s; */
    /* overflow: hidden; */
}
}



